@page "/app-publish"
@using System.Text.Json
@using Microsoft.Extensions.Configuration
@using Toolbox.Pages.Models

@inject IHttpClientFactory HttpClientFactory;
@inject IConfiguration Configuration

<PageTitle>码术 - 开源工具</PageTitle>
<MudGrid Class="mt-5 mb-5">
    <MudItem xs="12" md="12">
        <MudPaper Class="pa-4">
            <div class="d-flex mb-3">
                <MudIcon Icon="@Icons.Material.Filled.CloudDone"></MudIcon>
                <MudText Class="ml-1">软件发布</MudText>
            </div>
            <MudForm Model="@model" @bind-IsValid="@success">
                <MudSelect T="string"
                           @bind-Value="model.AppKey"
                           Required="true"
                           RequiredError="请选择软件"
                           Label="软件名称"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@("")" />
                    <MudSelectItem Value="@("UTF-8")" />
                </MudSelect>

                <div class="d-flex align-center mt-4 mb-4 pl-5 pr-5 pt-2 pb-2 chip-set-group">
                    <MudText Class="mr-4">平台</MudText>
                    <MudRadioGroup @bind-SelectedOption="model.Platform">
                        <MudRadio Option="@("Windows")">Windows</MudRadio>
                        <MudRadio Option="@("Android")">Android</MudRadio>
                        <MudRadio Option="@("iOS")">iOS</MudRadio>
                    </MudRadioGroup>
                </div>

                <MudTextField T="string" Label="版本" Variant="Variant.Outlined" Required="true" RequiredError="版本号不能为空" HelperText="格式：1.2.3.4" />

                <div class="d-flex align-center mt-4 mb-4 pl-5 pr-5 pt-2 pb-2 chip-set-group">
                    <MudText Class="mr-4">最小运行版本</MudText>
                    <MudChipSet @bind-SelectedChip="Selected" Filter="true" Mandatory="true">
                        <MudChip Text="grey">是</MudChip>
                        <MudChip Text="grey">否</MudChip>
                    </MudChipSet>
                </div>

                <MudTextField T="string" Label="更新日志" Variant="Variant.Outlined" Text="" Lines="5" />

                <MudTextField T="string" Label="文件" Required="true" Variant="Variant.Outlined" RequiredError="用户名不能为空" />
                <MudFileUpload T="IBrowserFile">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context">
                            上传文件
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>

                <div class="d-flex align-center mt-4 mb-4 pl-5 pr-5 pt-2 pb-2 chip-set-group">
                    <MudText Class="mr-4">计算签名</MudText>
                    <MudChipSet @bind-SelectedChip="Selected" Filter="true" Mandatory="true">
                        <MudChip Text="grey">MD5</MudChip>
                        <MudChip Text="grey">SHA1</MudChip>
                    </MudChipSet>
                </div>

                <MudTextField T="string" Label="密码"
                              InputType="InputType.Password"
                              Variant="Variant.Outlined"
                              Required="true"
                              RequiredError="Password is required!" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="mt-5">发布</MudButton>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>
@code {
    bool success;
    MudChip Selected;
    public string SelectedOption { get; set; }
    private AppPublishModel model = new();
}