@page "/chat"

@using JiuLing.CommonLibs.ExtensionMethods;
@using Toolbox.Pages.Models

@inject IHttpClientFactory HttpClientFactory;
<PageTitle>码术 - AI 聊天</PageTitle>
<div class="chat-message">
    @if (_isShowWarning)
    {
        <MudAlert Severity="Severity.Warning"
              ContentAlignment="HorizontalAlignment.Left">当前模式会记录对话内容，尽可能的让对话更流畅，所以比较耗资源，您玩玩就好啦~~</MudAlert>
    }

    @if (_histories.Count == 0)
    {
        <MudAlert Icon="@Icons.Material.Filled.SportsScore" Severity="Severity.Success">欢迎来到 AI 世界</MudAlert>
    }

    @foreach (var history in _histories)
    {
        <MudPaper Class="pa-2 mt-2" Square="true" Outlined="true">
            <div class="question">
                <MudIcon Icon="@Icons.Material.Filled.Chat"
                     Color="Color.Primary"
                     Size="Size.Small" />
                <MudText Class="ml-2" Typo="Typo.subtitle1">@history.Question</MudText>
            </div>

            @if (history.Answer.IsEmpty())
            {
                <MudProgressLinear Color="Color.Secondary"
                           Striped="true"
                           Size="Size.Large"
                           Value="100"
                           Class="my-7" />
            }
            else
            {
                <div class="answer">
                    <MudIcon Icon="@Icons.Material.Filled.SmartToy"
                     Color="Color.Secondary"
                     Size="Size.Small" />
                    <MudText Class="ml-2" Typo="Typo.body1">@history.Answer</MudText>
                </div>
            }
        </MudPaper>
    }
</div>
<div class="chat-tools">
    <MudTextField Label="想聊点什么呢？"
                  @bind-Value="_searchKey"
                  Disabled="@_isLoading"
                  Variant="Variant.Outlined"
                  Adornment="Adornment.End"
                  AdornmentColor="Color.Secondary"
                  AdornmentIcon="@Icons.Material.Filled.Send"
                  OnAdornmentClick="BeginChat"
                  OnKeyUp="KeyUp" />
    <MudSwitch Class="ml-5"
               Disabled="@_isLoading"
               Label="连续对话"
               Color="Color.Primary"
               T="bool"
               CheckedChanged="ContextChanged" />
</div>
@code {

    private bool _isLoading;
    private string _searchKey = "";
    private bool _isSaveContext = false;
    private bool _isShowWarning => _isSaveContext;
    private List<QuestionAndAnswer> _histories = null!;

    protected override Task OnInitializedAsync()
    {
        _histories = new List<QuestionAndAnswer>();
        return base.OnInitializedAsync();
    }

    private void KeyUp(KeyboardEventArgs args)
    {
        if (args.Key != "Enter")
        {
            return;
        }
        InvokeAsync(RequestOpenAI);
    }

    private void ContextChanged(bool isSaveContext)
    {
        _isSaveContext = isSaveContext;
    }

    private async void BeginChat()
    {
        await RequestOpenAI();
    }

    private async Task RequestOpenAI()
    {
        if (_searchKey.IsEmpty())
        {
            return;
        }
        if (_isLoading)
        {
            return;
        }
        _isLoading = true;

        string question = _isSaveContext ? $"提问:{_searchKey}" : _searchKey;
        string answer = "";
        _searchKey = "";
        string context = _isSaveContext ? string.Join("\n", _histories.Select(x => $"{x.Question}\n{x.Answer}")) : "";
        _histories.Add(new QuestionAndAnswer(question, answer));
        StateHasChanged();
        try
        {
            string prompt = $"{context}{question}";
            var postObj = new { prompt };
            var response = await HttpClientFactory.CreateClient("WebAPI").PostAsJsonAsync($"chatgpt/do-chat", postObj);
            var result = await response.Content.ReadFromJsonAsync<ApiResult<string>>();

            if (result == null)
            {
                answer = "服务器未响应。";
                return;
            }
            if (result.Code != 0)
            {
                answer = result.Message;
                return;
            }
            answer = result.Data ?? "服务器的数据似乎有点异常。";
        }
        catch (Exception ex)
        {
            answer = $"崩了，崩了，{ex.Message}，{ex.StackTrace}";
        }
        finally
        {
            _histories.Last(x => x.Question == question).Answer = answer;
            _isLoading = false;
            StateHasChanged();
        }
    }
}