@page "/security/{hash}"

@using Microsoft.Extensions.Configuration;
@using Toolbox.Pages.Enums;
@using Toolbox.Pages.HashCheckService;
@using Toolbox.Pages.Shared.Dialogs;

@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration
@inject IDialogService Dialog
@inject HashServiceFactory HashServiceFactory;

<PageTitle>码术 - 安全分析</PageTitle>

<MudGrid Class="mt-4">
    <MudItem md="3" xs="12">
        <MudChart ChartType="ChartType.Donut"
                  Width="120px"
                  Height="120px"
                  ChartOptions="_options"
                  InputData="@data"
                  InputLabels="@labels">
            <CustomGraphics>
                <text x="50%" y="45%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="8">@($"{data[1]}")</text>
                <text x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="5" style="opacity: 0.7;">@($"/{data.Sum()}")</text>
            </CustomGraphics>
        </MudChart>
    </MudItem>
    <MudItem md="9" xs="12">
        <MudGrid>
            <MudItem Class="pt-0 pb-1" md="12" xs="12">
                <MudAlert Severity="Severity.Error" Dense="true">
                    @($"提示")
                </MudAlert>
            </MudItem>

            <MudItem Class="pt-0 pb-1" md="2" xs="12">
                文件名
            </MudItem>
            <MudItem Class="pt-0 pb-1" md="10" xs="12">
                xxxxxx
            </MudItem>

            <MudItem Class="pt-0 pb-1" md="2" xs="12">
                大小
            </MudItem>
            <MudItem Class="pt-0 pb-1" md="10" xs="12">
                1000
            </MudItem>

            <MudItem Class="pt-0 pb-1" md="2" xs="12">
                分析时间
            </MudItem>
            <MudItem Class="pt-0 pb-1" md="10" xs="12">
                2022-06-06
            </MudItem>

            <MudItem Class="pt-0 pb-1" md="2" xs="12">
                MD5
            </MudItem>
            <MudItem Class="pt-0 pb-1" md="10" xs="12">
                yyyyyyyyy
            </MudItem>

            <MudItem Class="pt-0 pb-1" md="2" xs="12">
                SHA1
            </MudItem>
            <MudItem Class="pt-0 pb-1" md="10" xs="12">
                zzzzzzzzz
            </MudItem>
            <MudItem Class="pt-0 pb-1" md="2" xs="12">
                SHA256
            </MudItem>
            <MudItem Class="pt-0 pb-1" md="10" xs="12">
                tttttttttttt
            </MudItem>

            <MudItem Class="pt-0 pb-1" md="2" xs="12">
                社区评分
            </MudItem>
            <MudItem Class="pt-0 pb-1" md="10" xs="12">
                0
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

<MudPaper Class="border-dashed border-2 mud-border-primary pa-4 mt-10" Elevation="0">
    <MudGrid>
        <MudItem md="6" xs="12" Class="d-flex align-center">
            <div class="vendor">SecureAge</div>
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Outlined.Cancel" />
                <div class="result">Undetected</div>
            </div>
        </MudItem>
        <MudItem md="6" xs="12" Class="d-flex align-center">
            <div class="vendor">Xcitium</div>
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Outlined.NotInterested" />
                <div class="result">Malicious</div>
            </div>
        </MudItem>
        <MudItem md="6" xs="12" Class="d-flex align-center">
            <div class="vendor">Acronis </div>
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Outlined.Cancel" />
                <div class="result">Undetected</div>
            </div>
        </MudItem>
        <MudItem md="6" xs="12" Class="d-flex align-center">
            <div class="vendor">BitDefender</div>
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Outlined.Info" />
                <div class="result">Undetected</div>
            </div>
        </MudItem>
        <MudItem md="6" xs="12" Class="d-flex align-center">
            <div class="vendor">Cylance</div>
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Outlined.Info" />
                <div class="result">Malicious.high.ml.score</div>
            </div>
        </MudItem>
         <MudItem md="6" xs="12" Class="d-flex align-center">
            <div class="vendor">Cylance</div>
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Outlined.NotInterested" />
                <div class="result">Malicious.high.ml.score</div>
            </div>
        </MudItem>
        <MudItem md="6" xs="12" Class="d-flex align-center">
            <div class="vendor">Cylance</div>
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Outlined.Info" />
                <div class="result">Malicious.high.ml.score</div>
            </div>
        </MudItem>
    </MudGrid>
</MudPaper>


@code {
    [Parameter]
    public string Hash { get; set; } = null!;
    private double[] data = { 50, 2 };
    private string[] labels = { "安全", "警告" };
    private ChartOptions _options = new() { ChartPalette = new string[] { "#00AA00", "#F21C0D" } };
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
